# Frontend configuration
VITE_API_BASE_URL=http://localhost:5000/api

# Database configuration (Docker)
DB_ROOT_PASSWORD=your_secure_db_password
DB_NAME=inventory
DB_USER=root
DB_PORT=3306

# Backend configuration (Docker)
PORT=5000
JWT_SECRET=your_secure_jwt_secret_key

# Authentik SSO configurations (Docker)
AUTHENTIK_URL=https://your-authentik-url/
SSO_CLIENT_ID=your_sso_client_id
SSO_CLIENT_SECRET=your_sso_client_secret
SSO_REDIRECT_URI=http://localhost:5000/api/auth/sso/callback
FRONTEND_URL=http://localhost
